<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Dies ist die <%= title %>. Weitere Informationen über unser Projekt gibt es auf <a href="https://bewaesy.de.cool">unserer Website</a>.</p>
    
    <br><br>

    <a href="https://bewaesy.de.cool/impressum.php">Impressum</a> | <a href="https://bewaesy.de.cool/datenschutz.php">Datenschutzerklärung</a>
  </body>
</html>
