<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Dies ist die <%= title %>. Unsere Website kannst du <a href="https://bewaesy.de.cool">hier</a> finden.<br>Weitere Informationen zur API gibt es <a href="https://bewaesy.de.cool/help/api">hier</a>.</p>
  </body>
</html>
